
body { font: 12px Arial;
    
}
.page{
    width: 720px;
    margin: 0 auto; 
}

.leaflet-range-control input[type=range][orient=vertical] {
    height: 300px;
}

.leaflet-range-control label{
    padding: 5px;
}

.leaflet-percentage-container{
    position: absolute;
    text-align: center;
    right: 35px;
    top: 50px;
    border:1px solid rgba(125,125,125);
}